.body {
 @apply flex flex-col md:flex-row;

 height: 90vh;
 margin-top: 10vh; 
}

.bgImage {
  @apply h-full w-full;
}

.sideA {
  @apply bg-yellow-200 w-full bg-off-white flex justify-center items-center flex flex-col py-10;
}

.sideB {
  @apply w-full flex justify-center items-center;
}

.perfilContainer {
  @apply rounded-full;

  border: 0.5px solid #F8F1FF;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  transition: transform 650ms ease-in-out;
}

.perfilContainer:hover{
  transform: rotate3d(0, 1, 0, 180deg);
}

.pic {
  @apply mb-10;

  max-width: 100%;
  
}

.btn {
  @apply h-12 px-16 rounded-md flex justify-center items-center;

  position: absolute;
  background: #febe01;
  color: #332200;
  transition: transform 100ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}