.toggle {
  position: relative;
  width: 42px;
  height: 42px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.toggle span {
  position: absolute;
  width: 24px;
  height: 4px;
  background: #D7D9CE;
  border-radius: 4px;
  transition: 0.5s;  
}

.toggle span:nth-child(1){
  transform: translateY(-9px);
  width: 15px;
  left: 7px;
}

.toggle.active span:nth-child(1){
  width: 24px;
  transform: translate(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle span:nth-child(2){
  transform: translateY(9px);
  width: 9px;
  left: 7px;
}

.toggle.active span:nth-child(2){
  width: 24px;
  transform: translate(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active span:nth-child(3){
  transform: translate(60px);
}
