.header {
  @apply p-2 text-off-white bg-rich-black flex fixed w-full justify-between text-lg shadow-2xl items-center;
  
  height: 10vh;
  top: 0;
  left: 0;
  z-index: 9999;

}

.lines {
  @apply py-2 px-2 rounded-md flex justify-center items-center;
  transition: transform 100ms ease-in-out;
}

.lines:hover {
  @apply bg-off-white text-rich-black;
  transform: scale(1.1);
}

.button{

}

.logo {
  @apply flex items-center px-5 text-5xl font-serif;
  transition: transform 100ms ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

.hamburguerMenu {
  @apply px-5;
  transition: transform 100ms ease-in-out;
}

.hamburguerMenu:hover {
  transform: scale(1.1);
}