.header {
  @apply p-2 text-off-white bg-rich-black flex fixed w-full justify-between text-lg shadow-2xl;

  height: 6rem;
  top: 0;
  left: 0;
  z-index: 9999;
}

.lines {
  transition: transform 100ms ease-in-out;
}

.lines:hover {
  transform: scale(1.1);
}